:root {
    --primary: #6E85B7;
    --secondary: #B2C8DF;
    --third: #C4D7E0;
    --four: #F8F9D7;

    --primary-color: #1B2430;
}

:root[data-theme='dark'] {
    --primary: #1B2430;
    --secondary: #51557E;
    --third: #816797;
    --four: #D6D5A8;

    --primary-color: #e4e4e2;
}